body {
  color:#ffffff;
  background:#000000;
  font-size: 12pt;
  text-align: center;
}

/* body.top {
  text-align: center;
} */

a:link {color: #9999ff;text-decoration: none;}
a:visited {color: #999999;text-decoration: none;}
a:hover {color: #9999ff;text-decoration: underline;}


.top {
  div.header{
    display: block;
    background-color: #ffffff;
    height: 25vw;
    padding: 0;
    margin: 0;
  }
  header img{
    height: 100%;
  }
  footer {
    padding: 0;
    margin: 0;
  }
  h2 {
    font-family: serif;
  }
}

.contents {
  header{
    height: 100px;
    margin: 10px;
    img {
      height: 70%;
      margin: 10px;
    }
  }
  footer {
    padding: 0;
    margin: 0;
  }
  h2 {
    font-family: serif;
  }
  article {
    padding: 10px;
    margin: auto;
    text-align: left;
    max-width: 700px;
  }
}

.flex{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 20pt;
  text-align: left;
  #news{
    margin-right: 100pt
  }
}

.flex2{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  align-items: flex-start;
  ul {
    margin: 0;
    padding-top: 0;
  }
}

.title{
  font-size: xx-large;
  font-family: "Noto Serif CJK JP","Noto Serif JP", "Yu Mincho";
  font-weight: bold;
  text-align: center;
}

summary {
  cursor: pointer;
  transition: 0.2s; /* 変化を滑らかに */
  margin: 10px;
  text-indent: -2em;
}
/* ホバー時のスタイル */
summary:hover {
  cursor: pointer; /* カーソルを指マークに */
  background-color: #303030;
}

details {
  padding-left: 2em;
}