body{
  font-size: 3.5vw;
}

header {
  background-color: #08ac0d;
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  text-align: center;
}

th,td {
  border: solid 1px;
}

table {
  text-align: center;
  border-collapse: collapse;
}

img.symbol{
  height: 3.5vw;
}

body.index{
  font-size: 5vw;
  img.symbol{
    height: 5vw;
  }
}