body {
  font-size: 1.0rem;
  font-family: sans-serif;
}

header {
  background-color: #08ac0d;
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  text-align: center;
}

th,td {
  border: solid 1px;
  padding:0px 5px;
  text-align: center;
  img.status{
    margin-bottom: -8px;
    margin-top: 0px;
  }
}

table {
  text-align: center;
  border-collapse: collapse;
  margin: auto;
  overflow-x: scroll;
  white-space: nowrap;
}
img.symbol{
  height: 1.0rem;
  vertical-align:text-bottom;
  padding-bottom: 0.3ex;
}

body.index{
  img.symbol{
    height: 1.2rem;
  }
}

td.name{
  font-size: small;
  font-weight: bold;
  text-align: center;
  margin: auto;
  a:link {color: #000000;text-decoration: none;}
  a:visited {color: #666666;text-decoration: none;} 
  a:hover {color: #8899ff;text-decoration: underline;}

  .bar{
    display: block;
    margin: 0px auto;
    padding-top: 0px;
  }
  .varbar{
    display: block;
    height: 5px;
    margin: auto;
    margin-top: 1px;
    margin-bottom: -16px;
    padding: 0px;
  }
  .b span{
    display: inline-block;
    text-align-last: justify;
    margin: auto;
    width: 2.8em;
  }
  .c span{
    display: inline-block;
    text-align-last: justify;
    margin: auto;
    width: 3.5em;
  }
  .f span{
    display: inline-block;
    margin: -0.8em;
    transform: scale(0.78, 1);
  }
  .g span{
    display: inline-block;
    margin: -1.1em;
    transform: scale(0.75, 1);
  }
  .h span{
    display: inline-block;
    margin: -1.3em;
    transform: scale(0.7, 1);
  }
  .red{
    color: red !important;
  }
  img.symbol{
    height: 1.0rem;
    vertical-align:middle;
    padding-right: 0.1rem;
    margin-left: -1.1rem;
    margin-right: 0.1rem;
  }
  img.symbols{
    height: 1.0rem;
    vertical-align:middle;
    padding-bottom: 0.3ex;
    padding-right: 0.1rem;
    margin-left: -2.1rem;
    margin-right: 1rem;
  }
  img.symbolss{
    height: 1.0rem;
    vertical-align:middle;
    padding-bottom: 0.3ex;
    padding-right: 0.1rem;
    margin-left: -3.1rem;
    margin-right: 2rem;
  }
  img.ssymbol{
    height: 1.0rem;
    vertical-align:middle;
    padding-left: 0.1rem;
    margin-right: -1.1rem;
    margin-left: 0.1rem;
  }
  img.varsymbol{
    height: 0.7rem;
    vertical-align:middle;
    padding-left: 0;
    margin: 0;
  }
}

td.tokyu {
  background-color: #000;
  a:link {color: #fff;text-decoration: none;}
  a:visited {color: #999;text-decoration: none;} 
  a:hover {color: #89f;text-decoration: underline;}

}
.transfer{
  font-size: x-small;
}

.line{
  padding: 0px 30px;
}

.num_bar {
  height: 0.7rem;
  align-items: center;
  background-color: var(--color);
  margin: 0;
  padding: 0;
  .varsymbol {
    height: 0.7rem;
    vertical-align: text-top;
    padding: 0;
  }
}
